@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron" style="height: 500px;">
        <h1>Revive Your Vibe</h1>
        @*<p class="lead">Revive Your Vibe</p>*@
        @*Create popup to link to here - display each tech w/ links to their booking tools*@
        <p>
            <button class="schedulemodalbutton" data-toggle="modal" data-target="#scheduleModal">Book Now!</button>
            <div class="modal" id="scheduleModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title"> Choose Your Tech </div>
                            <button data-dismiss="modal" class="close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <a href="https://www.vagaro.com/pouncingpaws" target="_blank" class="button" style="font-family: Verdana">Pouncing Paws</a> <br/>
                            <a href="https://www.schedulicity.com/scheduling/FEE8Y2" target="_blank" class="button" style="font-family: Verdana">Finger Dressing</a><br />
                            <a href="https://www.schedulicity.com/scheduling/FEE8Y2" target="_blank" class="button" style="font-family: Verdana">Rainbow Realness</a><br />
                            <a href="https://www.schedulicity.com/scheduling/FEE8Y2" target="_blank" class="button" style="font-family: Verdana">LAHOnails</a>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                (function () {
                    $('.schedulemodalbutton').click(function () {
                        $('#scheduleModal').modal('show');
                    });
                });
            </script>
            <!--<a href="#" class="btn btn-warning btn-lg">Book Now! &raquo;</a>-->
        </p>
    </div>
</div>

<div class="card-deck">
    <div class="col-md-4">
        <div class="card">
            <img src="~/Content/Images/fuzzresize3.jpg" class="card-img-top" alt="Gallery wall">
            <div class="card-body">
                <h3 class="card-title">What The Fuzz?!</h3>
                <p class="card-text">Fuzz is a nail salon and recharging sanctuary. Learn more about who we are and what we're about here!</p>
                <a href="#" class="btn btn-primary">More!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Content/Images/db2.jpg" class="card-img-top" alt="Gallery wall">
            <div class="card-body">
                <h3 class="card-title">Who the Fuzz?!</h3>
                <p class="card-text">Our techs are carefully selected to provide a curated experience for you. Find which tech fits your vibe!</p>
                <a href="#" class="btn btn-primary">More!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Content/Images/fuzzresize5.jpg" class="card-img-top" alt="Gallery wall">
            <div class="card-body">
                <h3 class="card-title">Host or Attend an Event!</h3>
                <p class="card-text">Come hang with some bodacious babes! Reserve our space for your next gathering or check out our events calendar.</p>
                <a href="#" class="btn btn-primary">More!</a>
            </div>
        </div>
    </div>
</div>

